[submodule "tools/motia"]
	path = tools/motia
	url = https://github.com/MotiaDev/motia.git
[submodule "thirdparty/circt"]
	path = thirdparty/circt
	url = https://github.com/llvm/circt.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/DangoSys/bb-compiler
[submodule "arch/thirdparty/chipyard"]
	path = arch/thirdparty/chipyard
	url = git@github.com:neulxf/chipyard.git
[submodule "tools/deepwiki"]
	path = tools/deepwiki
	url = https://github.com/AIDotNet/OpenDeepWiki.git
[submodule "workflow/vscode"]
	path = workflow/vscode
	url = https://github.com/DangoSys/buckyball-vscode.git
[submodule "thirdparty/picker"]
	path = thirdparty/picker
	url = https://github.com/XS-MLVP/picker.git
[submodule "tools/paladin"]
	path = tools/paladin
	url = https://github.com/DangoSys/awesome-paladin.git
